<div class="selections">

	{% block selections %}
    <li>Hotels</li>
	        <form name="hotels" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
				<div align="center">
					<select name="mydropdown">
						<option value="Milk">Milk</option>
						<option value="Cheese">Cheese</option>
						<option value="Bread">Hot Bread</option>
					</select>
				</div>
			</form>

    <li>Things To Do</li>
			<form name="thingsToDo" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
				<div align="center">
					<select name="mydropdown">
						<option value="Milk">Milk</option>
						<option value="Cheese">Cheese</option>
						<option value="Bread">Hot Bread</option>
					</select>
				</div>
			</form>

    <li>Restaurants</li>
			<form name="restaurants" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
				<div align="center">
					<select name="mydropdown">
						<option value="Milk">Milk</option>
						<option value="Cheese">Cheese</option>
						<option value="Bread">Hot Bread</option>
					</select>
				</div>
	        </form>

	{% endblock %}
</div>
