.custom-container {
	margin-top: 50px;
}

.navbar {
background-color: #736357;

	li {
	    color: #a8c9dd;
	}
}


.navbar-brand {
   background-color:#64564c;
   color: #a7c8dc;
}

.sidebar {
	float: left;
	background-color: #c1b5ad;
}

.main {
	float: left;
	background-color: yellow;
}

#map-canvas {
		margin-top: 100px;
        height: 50vh;
        width: 100vh;
        padding: 0px;
      }

.progbar {
    margin-top: 50px;
	padding-top: 2px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #736357;

   font-family: ff-tisa-web-pro, serif;
    font-size: 20px;
li{
    list-style-type: none;
    padding-left: 10%;
    padding-top: 5%;
}
}


.itinerary {
	border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #efecea;

   font-family: ff-tisa-web-pro, serif;
    font-size: 16px;
li{
    list-style-type: none;
    padding-left: 10%;
    padding-top: 5%;
}



}

.selections {
	background-color: #efecea;
    border-radius: 5px;
    font-family: ff-tisa-web-pro, serif;
    font-size: 16px;
li{
    list-style-type: none;
    padding-left: 10%;
    padding-top: 5%;
}

}




